.category-list {
  grid-column: 0/1;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background: rgb(233, 231, 231);
  border-radius: 1rem;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.category-list .category a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.category a:hover {
  color: orange;
}
.category-list h4 {
  border-bottom: 1px solid rgba(37, 36, 36, 0.185);
  color: rgba(37, 36, 36, 0.7);
}
