.wrapper {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.back {
  position: absolute;
  top: 01px;
  left: 0;
  height: 300px;
  width: 100%;
  z-index: -3;
  background: #1abc9c;
  box-shadow: transparent;
  clip-path: polygon(50% 0%, 100% 0, 100% 53%, 60% 41%, 30% 56%, 0 75%, 0 0);
}
.side-panel {
  flex: 1;
}

.search {
  align-self: center;
  display: inline-flex;
  margin: 1rem;
}

.products-n-search {
  flex: 5;
  display: flex;
  flex-direction: column;
}
.active-filters {
  display: inline-flex;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
